<div class="row">
    <div class="col-sm-7">
        <h2>新着記事</h2>
        <% @latest_articles.each do |article| %>
        <div class="row">
            <div class="col-sm-3">
                <p><%= image_tag "image_01.jpg", :width => "100%" %></p>
            </div>
            <div class="col-sm-6">
                <ul>
                    <li><%= article.created_at.to_s(:datetime_jp) %></li>
                    <li><%= link_to article.title, article_path(article.id) %></li>
                    <li>カテゴリ</li>
                </ul>
            </div>
        </div>
        <% end %>
    </div>
    <div class="col-sm-4">
        <h2>カテゴリ</h2>
    </div>
</div>
<%= link_to 'もっと見る' , articles_path, class: 'btn btn-lg btn-primary' %>