<h1>記事一覧</h1>
<% @articles.each do |article| %>
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title"><%= article.title %></h2>
            <p class="card-text"><%= article.content %></p>
            <%= link_to "もっと見る", article_path(article.id), class: 'btn btn-primary' %>
        </div>
        <div class="card-footer text-muted">
            <%= article.created_at.to_s(:datetime_jp) %>
        </div>
    </div>
<% end %>


