<header class="navbar navbar-fixed-top">
  <div class="header">
    <%= link_to "TestingKnowledge", root_path, id: 'logo' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Sign Up",  signup_path %></li>
        <li><%= link_to "Login",  login_path %></li>
        <li><%= link_to 'Post', post_path %></li>
      </ul>
    </nav>
  </div>
</header>